"$schema" = "https://starship.rs/config-schema.json"

format = """
$directory\
$git_branch\
$git_status\
$nodejs\
$python\
$rust\
$golang\
$docker_context\
$cmd_duration\
$line_break\
$character"""

[character]
success_symbol = "[❯](bold green)"
error_symbol = "[❯](bold red)"

[directory]
truncation_length = 3
truncation_symbol = "…/"
style = "bold cyan"

[git_branch]
symbol = " "
style = "bold purple"

[git_status]
style = "bold yellow"

[nodejs]
symbol = " "
detect_extensions = ["js", "mjs", "cjs", "ts", "mts", "cts"]

[python]
symbol = " "

[rust]
symbol = " "

[golang]
symbol = " "

[docker_context]
symbol = " "

[cmd_duration]
min_time = 2_000
format = "took [$duration](bold yellow) "
